home/config/nvim/.netrwhist
home/config/nvim/doc/tags
.vimlog
home/config/nvim/bundle/*
home/tmux/resurrect/*
home/tmux/plugins/*

home/atom/blob-store
home/atom/compile-cache
home/atom/dev
home/atom/storage
home/atom/.apm
home/atom/.node-gyp
home/atom/.npm
home/atom/.atom-socket*

bin/diff-so-fancy
